mixin social()
    .social&attributes(attributes)
        .instagram
            .instagram__header
                a(href="https://instagram.com/Astor_auto" target="_blank").instagram__link
                    img(src="assets/img/instagram.png" alt="").instagram__icon
                    span.instagram__hashtag #astorauto
            img(src="assets/img/stub-instagram.jpg" alt="").instagram__stub
            // .instagram__widget
            //    iframe(src="http://astor-auto.ru/inwidget/index.php?width=800&inline=8&view=8&toolbar=false&preview=136" allowTransparency scrolling="no" frameborder="no" style="border:none;width:100%;height:190px;overflow:hidden;")
