.breadcrumb
    display block
    width 100%
    margin 0 0 20px 0

    &__list
        display block
        width 100%
        list-style none
        padding 0
        margin 0

    &__item
        display inline
        color white
        font()
        font-size 14px
        line-height 1
        padding 0
        margin 0
        &::after
            content " | "
        &:last-child
            &::after
                content ""

    &__link
        color white
        font()
        text-decoration underline
        &:hover
            color @color
            text-decoration underline
