mixin breadcrumb()
    .breadcrumb&attributes(attributes)
        ul.breadcrumb__list
            li.breadcrumb__item
                a(href="#").breadcrumb__link Главная
            li.breadcrumb__item
                a(href="#").breadcrumb__link Статьи
            li.breadcrumb__item О компании
