.form-order
    display block
    width 100%
    max-width 320px
    min-height 100px
    background #272626 url(img/bg.png)
    box-shadow 0 0 30px rgba(0, 0, 0, 0.3)
    border 1px solid #fff
    padding 40px 30px 20px
    margin auto

    &__title
        color #4168b9
        font(Condensed)
        font-size 20px
        text-transform uppercase
        margin-bottom 20px
        font-weight 400
        text-align center
        margin 0 0 50px

    &__button
        display block
        max-width 180px
        margin 20px auto 0


.popup
    .mfp-close
        display block
        width 35px
        height 35px
        background none
        color #fff
        font()
        font-size 35px
        line-height 35px
        text-align center
        border none
        padding 2px 0 0
        position absolute
        opacity 0.2
        top 0px
        right 0px
        transition opacity 0.3s ease
        &:hover
            color #fff
            opacity 0.8
            text-shadow none


.mfp-zoom-in .popup
    opacity 0
    transition all 0.2s ease-in-out
    transform scale(0.8)

.mfp-zoom-in.mfp-bg
    opacity 0
    transition all 0.3s ease-out

.mfp-zoom-in.mfp-ready .popup
    opacity 1
    transform scale(1)

.mfp-zoom-in.mfp-ready.mfp-bg
    opacity 0.8

.mfp-zoom-in.mfp-removing .popup
    transform scale(0.8)
    opacity 0

.mfp-zoom-in.mfp-removing.mfp-bg
    opacity 0
