mixin serv-menu()
    nav.serv-menu&attributes(attributes)
        ul.serv-menu__list
            li.serv-menu__item
                a(href="/uslugi/malyarno_kuzovnye_raboty").serv-menu__link
                    img(src="assets/img/service-1.png" alt="").serv-menu__img
                    .serv-menu__caption Малярно-кузовные работы
            li.serv-menu__item
                a(href="/uslugi/slesarnye_raboty").serv-menu__link
                    img(src="assets/img/service-2.png" alt="").serv-menu__img
                    .serv-menu__caption Техническое обслуживание, Экспресс замена масла
            li.serv-menu__item
                a(href="/uslugi/diagnostika").serv-menu__link
                    img(src="assets/img/service-3.png" alt="").serv-menu__img
                    .serv-menu__caption Компьютерная диагностика
            li.serv-menu__item
                a(href="/uslugi/tyuning").serv-menu__link
                    img(src="assets/img/service-4.png" alt="").serv-menu__img
                    .serv-menu__caption Перетяжка, Перешивка салона
            li.serv-menu__item
                a(href="/uslugi/avtokondicionery").serv-menu__link
                    img(src="assets/img/service-5.png" alt="").serv-menu__img
                    .serv-menu__caption Диагностика и ремонт кондиционера
            li.serv-menu__item
                a(href="/uslugi/razvalsxozhdenie").serv-menu__link
                    img(src="assets/img/service-6.png" alt="").serv-menu__img
                    .serv-menu__caption Развал/Схождение
            li.serv-menu__item
                a(href="/uslugi/dopolnitelnoe_oborudovanie_uslugi").serv-menu__link
                    img(src="assets/img/service-7.png" alt="").serv-menu__img
                    .serv-menu__caption Автостекла продажа и установка
            li.serv-menu__item
                a(href="/uslugi/dopolnitelnoe_oborudovanie_uslugi").serv-menu__link
                    img(src="assets/img/service-8.png" alt="").serv-menu__img
                    .serv-menu__caption Ремонт микроавтобусов



