mixin serv-menu()
    nav.serv-menu&attributes(attributes)
        ul.serv-menu__list
            li.serv-menu__item
                a(href="/uslugi/malyarno_kuzovnye_raboty").serv-menu__link
                    img(src="assets/img/service-1.png" alt="").serv-menu__img
                    h3.serv-menu__caption Малярно-кузовные работы
                    p.serv-menu__descr Малярно-кузовные работы
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/slesarnye_raboty").serv-menu__link
                    img(src="assets/img/service-2.png" alt="").serv-menu__img
                    h3.serv-menu__caption Слесарные работы
                    p.serv-menu__descr Техническое обслуживание Экспресс замена масла
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/diagnostika").serv-menu__link
                    img(src="assets/img/service-3.png" alt="").serv-menu__img
                    h3.serv-menu__caption Диагностика
                    p.serv-menu__descr Компьютерная диагностика
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/tyuning").serv-menu__link
                    img(src="assets/img/service-4.png" alt="").serv-menu__img
                    h3.serv-menu__caption Тюнинг
                    p.serv-menu__descr Перетяжка, Перешивка салона
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/avtokondicionery").serv-menu__link
                    img(src="assets/img/service-5.png" alt="").serv-menu__img
                    h3.serv-menu__caption Автокондиционеры и&nbsp;отопители
                    p.serv-menu__descr Диагностика и ремонт кондиционера
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/razvalsxozhdenie").serv-menu__link
                    img(src="assets/img/service-6.png" alt="").serv-menu__img
                    h3.serv-menu__caption Развал/Схождение
                    p.serv-menu__descr
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/dopolnitelnoe_oborudovanie_uslugi").serv-menu__link
                    img(src="assets/img/service-7.png" alt="").serv-menu__img
                    h3.serv-menu__caption Дополнительное оборудование, услуги
                    p.serv-menu__descr Автостекла продажа и установка
                    p.serv-menu__more Посмотреть все
            li.serv-menu__item
                a(href="/uslugi/dopolnitelnoe_oborudovanie_uslugi").serv-menu__link
                    img(src="assets/img/service-8.png" alt="").serv-menu__img
                    h3.serv-menu__caption Ремонт микроавтобусов
                    p.serv-menu__descr
                    p.serv-menu__more Посмотреть все



