.serv-menu
    container(1170px)
    &__list
        list-style none
        font-size 0
        text-align center
        padding 0
        margin 0

    &__item
        display inline-block
        vertical-align top
        width 280px
        height 106px
        border 1px solid #fff
        position relative
        margin 5px
        .page--inner &
            height 72px

    &__link
        text-decoration none

    &__img
        position absolute
        top 0
        left 52px
        max-height 104px
        width auto
        transform translateX(-50%)
        .page--inner &
            max-height 70px

    &__caption
        display block
        color #4168b9
        font(Condensed)
        font-size 16px
        line-height 1
        text-transform uppercase
        text-align center
        display block
        margin 0
        position absolute
        top 10px
        left 105px
        right 5px

    &__descr
        display block
        color #fefefe
        font()
        font-size 12px
        line-height 1
        text-align center
        margin 0
        position absolute
        top 50px
        left 105px
        right 5px
        .page--inner &
            display none

    &__more
        display block
        color #59DEFB
        font()
        font-size 10px
        line-height 1
        text-align center
        margin 0
        position absolute
        bottom 10px
        left 105px
        right 5px




