.serv-menu
    container(1170px)
    &__list
    ul
        list-style none
        font-size 0
        text-align center
        padding 0
        margin 0

    &__item
        display inline-block
        vertical-align top
        width 280px
        height 106px
        border 1px solid #fff
        position relative
        margin 5px
        .page--inner &
            height 72px
        .main &
            margin 5px
            width 250px

    &__link
        text-decoration none
        display flex
        flex-flow row nowrap
        justify-content space-between
        align-items center
        position absolute
        top 0
        left 0
        right 0
        bottom 0

    &__img
        flex 0 0 auto
        max-height 104px
        width auto
        position relative
        left 52px
        transform translateX(-50%)
        .page--inner &
            max-height 70px
        .main &
            left 42px

    &__caption
        flex 0 1 auto
        width 170px
        display block
        color white
        font()
        font-size 18px
        line-height 1
        text-align center
        margin 0 5px 0 0
        padding 0
        background-color1 #e00
        text-transform none
        .page--inner &
            font-size 16px
        .main &
            font-size 14px
            width 170px






