.article

    &__more
        display block
        width 100%
        color white
        font()
        font-size 14px
        line-height 1
        text-align right
        text-decoration underline
        margin 0 0 1em
        &:hover
            color @color
            text-decoration underline
