.main
    &__main
        h1
            color #4168b9
            font(Condensed)
            font-weight 400
            font-size 20px
            text-transform uppercase
            margin 0 0 1em
        h2
            color #00caf6
            font()
            font-weight 400
            font-size 18px
            text-transform uppercase
            margin 0 0 1em
        h3
            color #fff
            font(Bold)
            font-size 15px
            text-transform uppercase
            margin 0 0 1em
        p
            color white
            font()
            font-size 14px
            line-height 1.2
            text-align justify
            margin 0 0 1em

        ul
        ol
            margin: 0 0 1em 25px
            padding 0
            li
                margin 0 0 .7em
                padding 0
