mixin footer()
    footer.footer&attributes(attributes)
        .footer__in
            p.footer__company &copy; 2000-2016, Автосервис «АСТОР», Санкт-Петербург, Витебский&nbsp;пр., д.&nbsp;17, к.&nbsp;10 <br>(812) 378-73-75, autotron@yandex.ru
            .footer__developed
                a(href="#").footer__developed-link
                    img(src="assets/img/asv.png" alt="").footer__developed-logo

