a, input, *:focus
    outline none

html
    box-sizing border-box
    height 100%
    margin 0

*, *:before, *:after
    box-sizing inherit

body
    color #fff
    font()
    font-size 14px
    line-height 1.2
    background #272626 url(img/bg.png)
    min-width 320px
    height 100%
    padding-top 50px
    position relative
    overflow-x hidden
    overflow-y scroll
    -webkit-font-smoothing subpixel-antialiased !important
    -webkit-backface-visibility hidden
       -moz-backface-visibility hidden
        -ms-backface-visibility hidden

    &:after
        display table
        clear both
        content ""

.hidden
    display none



