mixin top-menu()
    .top-menu&attributes(attributes)
        ul.top-menu__list
            li.top-menu__item.top-menu__item--current
                a(href="/o_kompanii").top-menu__link О компании
            li.top-menu__item
                a(href="/news").top-menu__link Новости
            li.top-menu__item
                a(href="/shop").top-menu__link Магазин
            li.top-menu__item
                a(href="/uslugi").top-menu__link Услуги
            li.top-menu__item.top-menu__item--featured
                a(href="/akcii").top-menu__link Акции
            li.top-menu__item
                a(href="/stati").top-menu__link Статьи
            li.top-menu__item
                a(href="/korporativnym_klientam").top-menu__link Корпоративным клиентам
            li.top-menu__item
                a(href="/kontrol_kachestva").top-menu__link Контроль качества
            li.top-menu__item
                a(href="/kontakty").top-menu__link Контакты
