input()
    padding 5px 10px
    border 1px solid #ccc
    border-radius 3px
    margin 0 0 15px
    color #666
    font()
    font-size 16px
    line-height 1
    outline none

input
textarea
    input()

.input-block
    display block
    width 100%

    &__label
        display block
        width 100%
        color white
        font()
        font-size 14px
        line-height 1
        margin 0 0 8px

    &__input
        display block
        width 100%
