mixin actions()
    .actions&attributes(attributes)
        ul.actions__list
            li.actions__item
                a(href="/obsluzhivanie_bmw").actions__link
                    img(src="assets/img/bmw.jpg" alt="").actions__img
                    p.actions__title Специальные условия обслуживания BMW
            li.actions__item
                a(href="/news/podgotovka_avto_k_letu").actions__link
                    img(src="assets/img/kondicioner.jpg" alt="").actions__img
                    p.actions__title Заправка кондиционера за 900руб
