.header
    width: 100%;
    position relative
    background-image url(img/line-slider.png), url(img/slide1.jpg)
    background-repeat repeat-x, no-repeat
    background-position left bottom, center center
    .page--home &
        position absolute
        z-index 100
        top 50px
        left 0
        right 0
        background none

    &__in
        container(1170px)
        padding 20px 15px 30px
        height 210px
        +below(850px)
            height 280px
        +below(700px)
            height auto
        .page--home &
            height 470px

    &__logo
        position absolute
        top 20px
        left 15px
        z-index 20
        +below(700px)
            display block
            width 100%
            position relative
            top auto
            left auto
            margin 0 auto 15px

    &__contacts
        display block
        width 100%
        max-width 398px
        background-color: rgba(0, 0, 0, 0.6)
        color #fff
        padding 10px
        font(Condensed)
        font-size 16px
        text-align right
        line-height 1.75
        position absolute
        top 10px
        right 10px
        span
            color #4168b9
        +below(700px)
            display block
            width 100%
            text-align center
            line-height 1.3
            position relative
            top auto
            right auto
            margin 0 auto 15px

    &__btn-online
        display block
        width 210px
        height 52px
        position absolute
        top 135px
        right 10px
        background rgb(68,106,186)
        background-color rgba(68,106,186,1)
        background linear-gradient(to bottom, rgba(68,106,186,1) 0%,rgba(82,156,212,1) 100%)
        color #fff
        text-decoration none
        padding 8px 25px 5px 60px
        font(Condensed)
        font-size 18px
        line-height 1
        text-align right
        text-transform uppercase
        &:hover
            background #4165D7
        &::before
            content ""
            display block
            width 32px
            height 32px
            background url(img/pen.png) no-repeat 0 0
            position absolute
            top 8px
            left 8px
        +below(700px)
            position relative
            top auto
            right auto
            margin 0 auto 10px
        .page--home &
            top 280px
            +below(700px)
                position relative
                top auto
                right auto
                margin 0 auto 10px

    &__btn-autobus
        display block
        position absolute
        top 135px
        right 235px
        text-transform: none;
        width 250px
        height 52px
        background rgb(10,142,171)
        background linear-gradient(to bottom, rgba(10,142,171,1) 0%,rgba(60,169,207,1) 100%)
        color #fff
        font(Condensed)
        font-size 18px
        line-height 1
        text-align: right;
        text-transform uppercase
        text-decoration none
        padding 8px 15px 5px 40px
        &:hover
            background #0a8eab
        &::before
            content ""
            display block
            width 36px
            height 18px
            background url(img/bus.png) no-repeat 0 0
            position absolute
            top 16px
            left 16px
        +below(850px)
            right 10px
            top 200px
        +below(700px)
            position relative
            top auto
            right auto
            margin 0 auto 0
        .page--home &
            right 10px
            top 340px
            +below(700px)
                position relative
                top auto
                right auto
                margin 0 auto 0

.slider
    display block
    width 100%
    height 484px
    overflow hidden
    background url(img/line-slider.png) repeat-x left bottom
    padding-bottom 0
    &::after
        content ""
        display block
        width 100%
        height 14px
        position absolute
        bottom 0
        left 0
        right 0
        background url(img/line-slider.png) repeat-x left bottom
    +below(700px)
        height 625px

    &__slide
        height 470px
        position relative
        &--1
            background: url(img/slide1.jpg) no-repeat center center
            background-size cover
        &--2
            background: url(img/slide2.jpg) no-repeat center center
            background-size cover
        +below(700px)
            height 625px


    &__text
        background-color rgba(0, 0, 0, 0.57)
        padding 25px
        width 770px
        position absolute
        bottom 40px
        left 50%
        margin-left -580px
        +below(1200px)
            left 15px
            right 280px
            width auto
            margin-left 0
            padding 20px
        +below(700px)
            padding 10px
            right 0
            left 0
            bottom 30px

    &__title
        color #4168b9
        font(Condensed)
        font-size 30px
        line-height 1
        text-transform uppercase
        margin 0 0 10px
        +below(700px)
            font-size 20px
            text-align center
            margin-bottom 7px

    &__descr
        color #fff
        font()
        font-size 18px
        line-height 1.2
        margin 0
        +below(700px)
            font-size 14px
            text-align center

    .owl-pagination
        top 12px

    .page--home &
        .owl-controls
            z-index 250
        +below(1200px)
            .owl-pagination
                left 50%
                transform translateX(-50%)
                margin 0
                top 40px
            .owl-buttons
                left 50%
                transform translateX(-50%)
                margin-left -80px
                top 26px
        +below(700px)
            .owl-pagination
                top 5px
            .owl-buttons
                top -11px





